<div class="page-header">
   <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="#!downtime">Downtime</a>
      </li>
      <li class="breadcrumb-item active">Search for downtime</li>
   </ol>
</div>
<div>
<div class="row">
</div>
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" data-toggle="modal" data-target="#manageDT" data-backdrop="false">Add Downtime  <span class="glyphicon glyphicon-plus"></span></button>
   </div>
</div>
<br/>

<div class="card mb-3">
   <div class="card-header">
      <i class="fa fa-area-chart"></i> System
   </div>
   <div class="card-body">
      <div class="row txtsize">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" data-ng-controller="myCtrl">
            <div class="col-xs-12 txtsize">
               System Downtime (Hour)
               <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="fa fa-fw fa-file-image-o"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="fa fa-fw fa-file-pdf-o"></span></a>
            </div>
            <div class="col-xs-12 border" id="chartStyle">
               <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="chartOptions" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" data-ng-controller="myCtrlPercent">
            <div class="col-xs-12">
               System Downtime Percentage(%)
               <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="fa fa-fw fa-file-image-o"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="fa fa-fw fa-file-pdf-o"></span></a>
            </div>
            <div class="col-xs-12 border" id="chartStyle">
               <canvas class="chart chart-bar" chart-data="dataPercent" chart-labels="labelsPercent" chart-series="series" chart-options="chartOptionsPercent" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
            </div>
         </div>
         
      </div>
   </div>
    
    
</div>
<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Equipments</div>
        <div class="card-body">
            
            <div class="row txtsize">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" data-ng-controller="myCtrl">
               <div class="col-xs-12 txtsize">
                  Equipment Downtime (Hour)
                  <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="fa fa-fw fa-file-image-o"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="fa fa-fw fa-file-pdf-o"></span></a>
               </div>
               <div class="col-xs-12 border" id="chartStyle">
                  <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="chartOptions" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" data-ng-controller="myCtrlPercent">
               <div class="col-xs-12 txtsize">
                  Equipment Downtime Percentage (%) 
                  <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="fa fa-fw fa-file-image-o"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="fa fa-fw fa-file-pdf-o"></span></a>
               </div>
               <div class="col-xs-12 border" id="chartStyle">
                  <canvas class="chart chart-bar" chart-data="dataPercent" chart-labels="labelsPercent" chart-series="series" chart-options="chartOptionsPercent" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
               </div>
            </div>
         </div>
        </div>
      </div>
    
    <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#filter-panel">
      Search Downtime <span class="fa fa-fw fa-search"></span>
      </button>
   </div>
</div>
    
<div class="row" style="margin-top: 10px">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="filter-panel" class="collapse filter-panel">
         <div class="panel panel-default">
            <div class="panel-body">
               <div class="row">
                  <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 txtsize" id="equipList">
                     <label for="selectequ">Select equipment list:</label>
                     <select class="form-control" id="selectequ" data-ng-model="obj.equipment">
                        <option selected value="">All</option>
                        <option data-ng-repeat="eq in dtdata track by $index">{{eq.$id}}</option>
                     </select>
                  </div>
                  <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 txtsize" id="equipList">
                     <label for="date">Select date</label>
                     <input type="text" class="form-control" placeholder="Day, Month, Year" data-ng-model="start" id="datetimepickerSearch"/>
                  </div>
                  <br>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txtsize" id="Type">
                     <label for="type">Select type:</label>
                     <br/>
                     <input type = "radio" name="type" data-ng-model = "type" value = "Corrective Maintenance" />Corrective Maintenance &nbsp; &nbsp;
                     <input type = "radio" name="type" data-ng-model = "type" value = "Preventive Maintenance" />Preventive Maintenance &nbsp; &nbsp;
                     <input type = "radio" name="type" data-ng-model = "type" value = "Standby" />Standby &nbsp; &nbsp;
                     <input type = "radio" name="allType" data-ng-model = "type" checked="checked" id="all"/>All &nbsp;
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<hr/>
<!--
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txtsize">
      <div class="box">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th id="equipment">Equipment</th>
                     <th id="start">Start</th>
                     <th id="end">End</th>
                     <th id="type">Type</th>
                  </tr>
               </thead>
               <tbody>
                  <tr data-ng-repeat="d in allDT | filter: equipment | filter: type | filter: obj | filter: start track by $index" data-ng-if="d != null">
                     <td headers = "equipment">{{d.equipment}}</td>
                     <td headers = "start">{{d.start}}</td>
                     <td headers = "end">{{d.end}}</td>
                     <td headers = "type">{{d.type}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
-->
    
<a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export table (Excel) to computer"><span class="fa fa-fw fa-file-excel-o"></span></a>
<a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print table to PDF"><span class="fa fa-fw fa-file-pdf-o"></span></a>
<div class="modal fade" id="manageDT">
   <div class="modal-dialog modal-lg">
      <div class="modal-content txtsize">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Downtime </h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="equipList">
                  <label for="selectequ">Select Equipment</label>
                  <select class="form-control" id="selectequ" data-ng-model="addEquipment">
                     <option value="" disabled="" selected="" style="display: none">Select Equipment</option>
                     <option data-ng-repeat="eq in add track by $index" >{{eq.$id}}</option>
                  </select>
                  <!--                <p data-ng-model="add[$indexFor(addEquipment)].system"></p>-->
               </div>
               {{addEquipment}}
               <!--
                  {{addEquipment}}
                  
                  {{toStore}}
                  <br>
                  {{add[$indexFor(addEquipment)].system}}
                  -->
               <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="Type">
                  <label for="searchType">Search by Type:</label>
                  <select class="form-control" id="searchType" data-ng-model="type">
                     <option value="" disabled="" selected="" style="display: none">Select type of maintenance</option>
                     <option>Corrective Maintenance</option>
                     <option>Preventive Maintenance</option>
                     <option>Standby</option>
                  </select>
               </div>
                
               <div class="container">
                    <form action="" class="form-horizontal"  role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="dtp_input4" class="col-md-2 control-label">Start Time</label>
                                <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                    <input class="form-control" size="16" type="text" value="" readonly data-ng-model="startDT">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input4" value="" /><br/>
                            </div>

                            <div class="form-group">
                                <label for="dtp_input5" class="col-md-2 control-label">End Time</label>
                                <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                    <input class="form-control" size="16" type="text" value="" readonly data-ng-model="endDT">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input5" value="" /><br/>
                            </div>

                        </fieldset>
                        <input type="reset" class="btn btn-primary" role="button" style="margin:20px" data-ng-click="resetGraph()"/>
                    </form>
                </div>
                
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-ng-click="manageDowntime()">Add Downtime <span class="fa fa-plus"></span>
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
    
    <div>
        <div class="card-header">
          <i class="fa fa-table"></i> Downtime Data</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                     <th id="equipment">Equipment</th>
                     <th id="start">Start</th>
                     <th id="end">End</th>
                     <th id="type">Type</th>
                  </tr>
               </thead>
               <tbody id="downtimeData">
                  <tr data-ng-repeat="d in allDT | filter: equipment | filter: type | filter: obj | filter: start track by $index" data-ng-if="d != null">
                     <td headers = "equipment">{{d.equipment}}</td>
                     <td headers = "start">{{d.start}}</td>
                     <td headers = "end">{{d.end}}</td>
                     <td headers = "type">{{d.type}}</td>
                  </tr>
               </tbody>
                
                <tfoot>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
                </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    
    
<!--
    <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
-->
    
<div class="modal fade" id="viewGraph">
   <div class="modal-dialog modal-lg">
     <div class="modal-content txtsize">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Downtime Description</h4>
       </div>
       <div class="modal-body">
         ...
           
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-danger txtsize" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
  </div>